# Core Django & Celery
django>=5.0
celery>=5.3
redis>=5.0
psycopg2-binary>=2.9

# AI & Processing (Worker thực hiện việc này nên KHÔNG ĐƯỢC BỎ)
openai
google-generativeai
langchain
langchain-openai
apify-client
atproto
pymilvus
neo4j

# Video Processing (Dùng bản headless nhẹ hơn bản thường)
opencv-python-headless
moviepy
requests
python-dotenv

djangorestframework==3.16.1
djangorestframework_simplejwt==5.5.1
django-cors-headers==4.9.0
drf-spectacular==0.29.0
drf-yasg==1.21.11
django-extensions==4.1
django_celery_results==2.6.0
celery==5.5.3
supabase==2.24.0
langgraph.checkpoint.postgres==3.0.1